@model inConcert.Models.Notifications

<head>
    <title></title>
    <link href="@Url.Content("~/Content/Notifications.css")" rel="stylesheet" type="text/css" />
</head>



<div id="notificationsTable">
    @{Html.RenderAction("NotificationView");}
</div>


<script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
    var url = '@Url.Action("NotificationView")';
    var notifications = $("#notificationsTable");
    setInterval(function () {
        notifications.load(url);
    }, 2000);
</script>


