<link href="~/Content/ChatStyle.css" rel="stylesheet" type="text/css" />

@model inConcert.Models.Message


<div id="chat-box">
@using (Html.BeginForm("GenerateMessage", "Chat"))
{

@Html.TextBoxFor(msg => msg.body, new { @class = "text-input" });
    <input type="submit" id="submit-button" value="Send" />

}
</div>

<text>

    <script type="text/javascript">
        var x = document.getElementsByClassName("text-input");
        x.valueOf("");
    </script>

</text>
