<link href="~/Content/ChatStyle.css" rel="stylesheet" type="text/css" />

<div id="contact-window">
    <p>derp</p>
    @*<ul>
        @foreach (ProjectAuth auth in @Model.auths)
        {
            <li>auth.userId</li>
        }
    </ul>*@
</div>

