@model inConcert.Models.Notification

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

}
<head>
    <title></title>
    <meta http-equiv="refresh" content="5" />
</head>
<td>
    @Html.DisplayFor(model => model.notificationMessage)
</td>

<td>
    @Html.DisplayFor(model => model.TimeStamp)
</td>

