<link href="~/Content/ChatStyle.css" rel="stylesheet" type="text/css" />

<div id="contact-window">
    <ul>
        <li>Marc</li>
        <li>Charlie</li>
        <li>Spencer</li>
        <li>Brandon</li>
        <li>Erik</li>
    </ul>
</div>

