@model inConcert.Models.Chat
<h1>This is the index page</h1>
<br />
<p>This is the chatbox partial view</p>
<br />
@Html.Partial("ChatBox", @Model)
<br />
<p>This the chatInput partial view</p>
<br />
@Html.Partial("ChatInput", @Model.message) 